{% load i18n %}
<% var method = object.pk ? 'PUT' : 'POST'; %>
<% var action = object.pk ? object.url : ctrl.model.url; %>
<form class="form-horizontal form-object" action="<%- action %>" method="<%- method %>" enctype="multipart/form-data" data-id="<%- id %>" data-ctrl="<%- ctrl.name %>">
    <fieldset>
    <% $.each(fieldsets.editable, function(i, field) { %>
        <% var value = object.fields[field.name]; %>
        <% var label_class = field.readonly ? 'text-muted' : testImportantField(field)? 'text-danger' : ''; %>
        <% var required = (field.null || field.blank || field.has_default) ? '' : 'required'; %>
        <% var readonly = field.readonly ? 'disabled' : ''; %>
        <% var jsfield = FIELDS[field.type] || FIELDS.Field; %>
        <div class="form-group field-<%- field.type %>">
        {# любое булево поле #}
        <% if (field._type.is_bool) { %>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label class="control-label <%- label_class %>">
                    <% if (value) { %>
                        <input type="checkbox" name="<%- field.name %>" checked <%= readonly %><%= ' ' %><%= required %>>
                    <% } else { %>
                        <input type="checkbox" name="<%- field.name %>" <%= readonly %><%= ' ' %><%= required %>>
                    <% } %>
                        <strong><%- field.display_name %></strong>
                    </label>
                </div>
        <% } else { %>
            <label class="col-sm-2 control-label <%- label_class %>">
                <%- field.display_name.capFirst() %>
            </label>
            <div class="col-sm-10">
            {# изображение или файл #}
            <% if (field.type == 'ImageField' ||  field.type == 'FileField') { %>
                <p>
                    <span>{% trans 'in current time' %}: </span>
                <% if (value) { %>
                    <a href="<%- value %>">
                    <% if (field.type == 'ImageField') { %>
                        <img height="32" width="32" src="<%- value %>">
                    <% } else { %>
                        <%- value %>
                    <% } %>
                    </a>
                <% } else { %>
                    <b>{% trans 'undefined' %}</b>
                <% } %>
                </p>
                <% if (!readonly) { %>
                    <p>
                        <span>{% trans 'change' %}: </span>
                        <input type="file" name="<%- field.name %>" class="form-control-file" <%= required %>>
                    </p>
                <% } %>
            {# Замаскированный пароль #}
            <% } else if (field.name == 'password' && field.mask_password) { %>
                <pre><%- JSON.stringify(value || {}) %></pre>
            {# email #}
            <% } else if (field.type == 'EmailField') { %>
                <input type="email" name="<%- field.name %>" class="form-control" value="<%- value %>" <%= readonly %><%= ' ' %><%= required %>>
            {# DateTimeField & DateField #}
            <% } else if (jsfield.is_date || jsfield.is_time) { %>
                <% var format = jsfield.format(''); %>
                <% var _val = (value == 'auto') ? moment() : moment(value); %>
                <% var server_value = value ? _val.toISOString() : ''; %>
                <% var value = value ? _val.format(format) : ''; %>
                <input type="text" name="<%- field.name %>" class="form-control datetimepicker-is-not-set" data-format="<%- format %>" data-server_value="<%- server_value %>" value="<%- value %>" <%= readonly %><%= ' ' %><%= required %> />
            {# ForeignKey or OneToOneField #}
            <% } else if (field.type == 'ForeignKey' || field.type == 'OneToOneField') { %>
                <select name="<%- field.name %>" class="form-control selectize-is-not-set" data-type="<%- field.type || '' %>" data-ctrl="<%- ctrl.name %>" <%= readonly %><%= ' ' %><%= required %>>
                <% if (value) { %>
                    <option value="<%- value[0] %>" selected><%- value[1] %></option>
                <% } %>
                </select>
            {# ManyToManyField #}
            <% } else if (field.type == 'ManyToManyField') { %>
                <select multiple name="<%- field.name %>" class="form-control selectize-is-not-set" data-type="<%- field.type || '' %>" data-ctrl="<%- ctrl.name %>" <%= readonly %><%= ' ' %><%= required %>>
                <% $.each(value, function(i, v) { %>
                    <option value="<%- v[0] %>" selected><%- v[1] %></option>
                <% }) %>
                </select>
            {# TextField #}
            <% } else if (field.type == 'TextField') { %>
                <textarea rows="10" name="<%- field.name %>" class="form-control" data-type="<%- field.type || '' %>" <%= readonly %><%= ' ' %><%= required %>>
                    <%- value %>
                </textarea>
            {# JSONField #}
            <% } else if (jsfield.is_json) { %>
                <textarea rows="10" name="<%- field.name %>" class="form-control" data-type="<%- field.type || '' %>" <%= readonly %><%= ' ' %><%= required %>>
                    <%- JSON.stringify(value || {}, null, 4) %>
                </textarea>
            {# Choices #}
            <% } else if (field.choices) { %>
                <select name="<%- field.name %>" class="form-control" data-type="<%- field.type || '' %>" <%= readonly %><%= ' ' %><%= required %>>
                <% $.each(field.choices, function(i, v) { %>
                    <option value="<%- v[0] %>" <%= v[0] == value ? 'selected' : '' %>><%- v[1] %></option>
                <% }) %>
                </select>
            {# Любое остальное поле #}
            <% } else { %>
                <input type="text" name="<%- field.name %>" class="form-control" value="<%- value %>" <%= readonly %><%= ' ' %><%= required %>>
            <% } %>
        <% } %>
        <% if (field.help_text) { %>
            <span class="help_block"><%- field.help_text %></span>
        <% } %>
            </div>
        </div>
    <% }) %>
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            
            <button type="submit" class="btn btn-primary"> {% trans 'Save' %} </button>
        <% if (object.pk && ctrl.CRUD['delete']) { %>
            <a href="<%= object.url %>" data-id="<%- id %>" data-ctrl="<%- ctrl.name %>" data-question="{% trans 'Do you really want to delete an object?' %}" class="btn btn-danger delete-object" style="margin-left: 5px;"> {% trans 'Delete' %} </a>
        <% } %>
        </div>    
    </div>
</form>
