<div class="panel panel-default" style="margin-top: 20px;">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="iframe-<%- id %>" src="<%- url %>" onload="iframeReady('<%- id %>', this);">
    </div>
</div>
