{% load i18n %}{% spaceless %}
{% block var %}
<% var app = ctrl.app; %>
<% var model = ctrl.model; %>
<% var rel_or_model = relation || ctrl.model; %>
<% var config = relation ? ctrl.getRelConfig(relation) : ctrl.config; %>
<% var order_columns = rel_or_model.order_columns; %>
<% var newobject_url = relation ? null : ctrl.newobject_url; %>
<% var search_key = rel_or_model.search_key; %>
<% var visible = ctrl.visibleColumns(relation, true); %>
<% var visible_names = visibleColumnNames(visible); %>
<% var datastring = stdDataString(id, ctrl, relation, object); %>
<% var search_mode = (search_key) ? 'autofocus' : 'readonly'; %>
{% endblock %}
{% block placeholder0 %}{% endblock %}
<ol class="breadcrumb">
{% block breadcrumb %}
    <li><a href="#!<%- app.url %>"><%- app.display_name.capFirst() %></a></li>
<% if (relation) { %>
    <li><a href="#!<%- model.url %>"><%- model.display_name.capFirst() %></a></li>
    <li><a href="#!<%- object.url %>"><%- object.display_name.capFirst() %></a></li>
<% } %>
    <li class="active"><%- rel_or_model.display_name.capFirst() %></li>
{% endblock %}
</ol>
{% block placeholder1 %}{% endblock %}
<div class="subnav row" style="margin-right: -10px;">
{% block subnav %}
    <div class="col-md-4 form-search">
        <div class="input-group input-group-sm">
            <input class="form-control input-sm da-filter-char" name="<%- search_key %>" placeholder="{% trans 'Search inside table' %}" <%= search_mode %> value="<%- (getFilterByName(config, search_key) || {}).value %>" <%= datastring %>>
            <span class="input-group-btn">
                <button class="btn btn-default da-refresh" title="{% trans 'Refresh' %}" <%= datastring %>>
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="col-md-8">
        <div class="btn-toolbar pull-right">
        <% if (newobject_url) { %>
            <div class="btn-group btn-group-sm">
                <a href="#!<%- newobject_url %>" class="btn btn-default" <%= datastring %>>
                    <i class="fa fa-plus text-success"></i>&nbsp;
                    <span>{% trans 'Add' %}</span>
                </a>
            </div>
        <% } %>

            <% var pane_id = "pane-filters-"+id; %>
            <% var tab_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
            <% var tab_color = ctrl.testFilters(relation) ? 'danger' : 'default'; %>
            <div class="btn-group btn-group-sm">
                <button class="<%- tab_active %> btn btn-<%- tab_color %>" data-toggle="<%- pane_id %>">
                    <i class="fa fa-filter text-warning"></i>&nbsp;
                    <span>{% trans 'Filters' %}</span>
                </button>
            </div>

            <div class="btn-group btn-group-sm">
                <% var pane_id = "pane-info-"+id; %>
                <% var tab_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
                <button class="<%- tab_active %> btn btn-default" data-toggle="<%- pane_id %>">
                    <i class="fa fa-info text-info"></i>&nbsp;
                    <span>{% trans 'Info' %}</span>
                </button>

                <% var pane_id = "pane-columns-"+id; %>
                <% var tab_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
                <button class="<%- tab_active %> btn btn-default" data-toggle="<%- pane_id %>">
                    <i class="fa fa-columns"></i>&nbsp;
                    <span>{% trans 'Columns' %}</span>
                </button>

                <button class="btn btn-default" data-toggle="table-type" <%= datastring %>>
                    <i class="fa fa-table text-darkmagenta"></i>&nbsp;
                    <strong><%- (config.table_type == 'stack') ? 'C': (config.table_type == 'pager') ? 'B': 'A' %></strong>
                </button>

                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{% trans 'Limit on one page' %}">
                    <i class="fa fa-resize-vertical"></i>
                    <span id="limit-selector-<%- id %>"><%- config.limit %></span>&nbsp;
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <% var start = rel_or_model.limit; %>
                    <% var max = rel_or_model.max_limit; %>
                    <% var step = max / 10; %>
                    <% for (var n=start; n<=max; n+=step) { %>
                        <li><a href="#" class="da-limit" data-limit="<%- n %>" <%= datastring %>><%- n %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</div>
{% block placeholder2 %}{% endblock %}
<div class="tab-content">
{% block subnav_tabs %}
    <% var pane_id = "pane-filters-"+id; %>
    <% var pane_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
    <div role="tabpanel" class="tab-pane <%- pane_active %> pane-filters" id="<%- pane_id %>">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-condensed table-bordered-">
                    <tbody>
                <% $.each(config.filters, function(i, f) { %>
                    <% if (f.name != search_key) { %>
                        <%= renderFilter(id, ctrl, config, object, relation, f) %>
                    <% } %>
                <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default btn-xs btn-block da-filter-add" <%= datastring %>>
                    <i class="fa fa-plus text-success"></i> {% trans 'Add filter' %}
                </button>
            </div>
        </div>
    </div>

    <% var pane_id = "pane-info-"+id; %>
    <% var pane_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
    <div role="tabpanel" class="tab-pane <%- pane_active %> pane-info" id="<%- pane_id %>">
        <div class="panel panel-default">
            <div class="panel-body">
                <dl class="dl-horizontal" id="info-<%- id %>"></dl>
            </div>
        </div>
    </div>

    <% var pane_id = "pane-columns-"+id; %>
    <% var pane_active = (window.SIMPLE_TOGGLES || {})[pane_id] ? 'active' : ''; %>
    <div role="tabpanel" class="tab-pane <%- pane_active %> pane-columns" id="<%- pane_id %>">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-inline">
                <% $.each(rel_or_model.columns, function(i, col) { %>
                    <% var vin = visible_names.indexOf(col.name); %>
                    <% var vis = (-1 < vin); %>
                    <div class="input-group input-group-xs <%- vis? '':'off'%>">
                        <span class="input-group-btn">
                            <button class="btn btn-default da-column-visible" data-column="<%- col.name %>" data-index="<%- vin %>" <%= datastring %>>
                                <i class="fa fa-fw fa-toggle-<%- vis? 'on':'off' %>"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control input-xs da-column-name" data-column="<%- col.name %>" value="<%- config.colnames[col.name] || col.display_name %>" <%= datastring %>>
                        <span class="input-group-btn">
                            <input type="text" class="form-control input-xs da-column-width" data-column="<%- col.name %>" placeholder="auto" value="<%- config.colwidth[col.name] || '' %>" <%= datastring %>>
                        </span>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
{% block placeholder3 %}{% endblock %}
<div class="table-wrapper">
{% block table %}
    <table id="table-<%- id %>" class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th style="min-width:255px">
                    <div><%- rel_or_model.display_name %></div>
                </th>
        <% $.each(visible, function(i, col) { %>
            <% var width = col.width ? col.width + 'px' : 'auto'; %>
            <% var min_width = col.width ? col.width + 'px' : '45px'; %>
            <th class="<%- col.sorting? 'sorting da-sort': '' %>" data-column="<%- col.name %>" data-sorting="<%- col.sorting || '' %>" data-display_name="<%- col.display_name %>" style="width: <%- width %>;min-width: <%- min_width %>;" title="<%- col.display_name %>" <%= datastring %>>
                <div>
                <% if (col.sorting) { %>
                    <i class="fa fa-fw fa-sort<%- (col.sorting == true) ? '' : '-'+col.sorting %>"></i>
                <% } %>
                    <span class="display-name"><%- col.custom_name || col.display_name %></span>
                </div>
            </th>
        <% }) %>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}
</div>
{% block placeholder4 %}{% endblock %}
<nav>
{% block table_nav %}
<% if (config.table_type == 'stack') { %>
    <div class="da-pagination-stack text-center" id="pager-<%- id %>" <%= datastring %>>
        <a href="#" class="loading text-muted">
            <span>{% trans 'Click or scroll down the page.' %}</span>
        </a>
    </div>
<% } else { %>
    <ul class="<%- config.table_type || 'pagination' %> da-pagination" id="pager-<%- id %>" <%= datastring %>></ul>
<% } %>
{% endblock %}
</nav>
{% block placeholder5 %}{% endblock %}
{% endspaceless %}
