{% load i18n %}{% spaceless %}
{% block var %}
<% var relations = object.pk ? ctrl.model.object.relations : []; %>
<% var fieldsets = ctrl.get_form_fieldsets(); %>
{% endblock %}

<ol class="breadcrumb">
    <li><a href="#!<%- ctrl.app.url %>"><%- ctrl.app.display_name.capFirst() %></a></li>
    <li><a href="#!<%- ctrl.model.url %>"><%- ctrl.model.display_name.capFirst() %></a></li>
    <li class="active"><%- object.pk || '---' %></li>
</ol>

<h2 class="page-header">
    <%- object.display_name.capFirst() %>
</h2>
{% include 'directapps_client/underscore/ajax/_object_form.html' %}

<h2 class="page-header">
    {% trans 'Additional information' %}
</h2>
<dl class="dl-horizontal">
<% $.each(fieldsets.readonly, function(i, field) { %>
    <dt><%- field.display_name %></dt>
    <dd><%- object.fields[field.name] %></dd>
<% }) %>

<% if (!$.isEmptyObject(relations)) { %>
    <dt>{% trans 'bindings' %}</dt>
    <dd>
        <ul class="list-unstyled">
        <% $.each(relations, function(k, v) { %>
            <li>
                <a href="#!<%- object.url %><%- v.name %>/" class="btn btn-link">
                    <%- v.display_name.capFirst() %>
                    <span class="text-muted"> (<%- v.relation %>) </span>
                </a>
            </li>
        <% }) %>
        </ul>
    </dd>
<% } %>
</dl>
{% endspaceless %}
