{% load i18n %}{% spaceless %}
<% var rel_or_model = relation || ctrl.model; %>
<% var field = window.FIELDS[filter.type] || window.FIELDS.Field; %>
<% var datastring = filterDataString(id, ctrl, object, relation, filter); %>

<tr id="<%- filter.id %>">
    <td style="width: 160px;" class="input-group-sm">{# Поле #}
        <select class="form-control da-filter-field" style="width:160px" <%= datastring %>>
            <option value="">&lt;{% trans 'Select field' %}&gt;</option>
        <% $.each(rel_or_model.filters, function(i, item) { %>
            <option value="<%- item.name %>/<%- item.type %>" <%= (item.name == filter.field) ? 'selected': '' %>><%- item.display_name %></option>
        <% }) %>
        </select>
    </td>

    <td style="width: 37px;" class="btn-group-sm">{# Инверсия фильтра #}
        <button class="btn btn-default da-filter-inverse <%= filter.inverse ? 'active': '' %>" title="{% trans 'Inverse' %}" <%= datastring %>>
            <i class="fa fa-minus"></i>
        </button>
    </td>

    <td style="width: 160px;" class="input-group-sm">{# Условие фильтра #}
        <select class="form-control da-filter-condition" style="width:160px" <%= datastring %>>
            <option value="">&lt;{% trans 'Select condition' %}&gt;</option>
    <% if (filter.type) { %>
        <% $.each(field.variants, function(i, item) { %>
            <option value="<%- item[0] %>" <%= (item[0] == filter.condition) ? 'selected': '' %>><%- item[1] %></option>
        <% }) %>
    <% } %>
        </select>
    </td>

    <td>{# Пространство для значений фильтра #}
        <div class="da-filter-values" <%= datastring %>>
        <% if (filter.condition) { %>
            <%= renderFilterValues(id, ctrl, config, object, relation, filter) %>
        <% } %>
        </div>
    </td>

    <td style="width: 80px;">{# Кнопки фильтра #}
        <div class="btn-group btn-group-sm">
            <button class="btn btn-default da-filter-fix <%- filter.fix ? 'active':'' %>" title="{% trans 'Fix' %}" <%= datastring %>>
                <i class="fa fa-fw fa-thumb-tack"></i>
            </button>{# Фиксация фильтра #}
            <button class="btn btn-default da-filter-remove" title="{% trans 'Remove' %}" <%= datastring %>>
                <i class="fa fa-fw fa-remove"></i>
            </button>{# Удаление фильтра #}
        </div>
    </td>
</tr>
{% endspaceless %}
