{% load i18n %}{% spaceless %}
<% var rel_or_model = relation || ctrl.model; %>
<% var modelfilter = getModelFilterByName(rel_or_model, filter.field); %>
<% var field = FIELDS[filter.type] || FIELDS.Field; %>
<% var datastring = filterDataString(id, ctrl, object, relation, filter); %>
<% var cond = filter.condition; %>
<% var values = getFilterValues(filter, field); %>
<% var display_controls = visibleFilterControls(filter, field) ? 'block':'none'; %>

<div class="values btn-group-sm input-group-sm">
<% $.each(values, function(i, val) { %>
    <button class="btn btn-default" value="<%- val[0] %>" <%= datastring %>>
        <span class="close filter-value-close">×</span>
        <%- val[1] %>
    </button>
<% }) %>
</div>

<div class="controls" style="display: <%- display_controls %>">
    <div class="input-group btn-group-sm input-group-sm">
        <% if (cond == 'isnull') { %>
            <select class="form-control" <%= datastring %>>
                <option value="true">{% trans 'yes' %}</option>
                <option value="false">{% trans 'no' %}</option>
            </select>
        <% } else if (field.is_bool) { %>
            <select class="form-control" <%= datastring %>>
                <option value="true">{% trans 'true' %}</option>
                <option value="false">{% trans 'false' %}</option>
            </select>
        <% } else if (modelfilter.choices) { %>
            <select class="form-control" data-as_choices="true" <%= datastring %>>
                    <option value="">&lt;{% trans 'Select value' %}&gt;</option>
                <% $.each(modelfilter.choices, function(i, item) { %>
                    <option value="<%= item[0] %>"><%- item[1] %></option>
                <% }); %>
            </select>
        <% } else if ((field.is_date || field.is_time) && hasDateTimePickerFilter(cond)) { %>
            <% var format = field.format(cond); %>
            <% var now = moment().hours(0).minutes(0).seconds(0); %>
            <% var server_value = now.toISOString(); %>
            <% var value = now.format(format); %>
            <input type="text" class="form-control datetimepicker-is-not-set" data-format="<%- format %>" data-server_value="<%- server_value %>" value="<%- value %>" />
        <% } else if (field.is_relation) { %>
            <input type="text" class="form-control typeahead-is-not-set" data-type="<%- filter.type || '' %>" <%= datastring %> />
        <% } else { %>
            <input type="text" class="form-control maskinput" data-mask="<%- filter.type || '' %>" <%= datastring %> />
        <% } %>
        <span class="input-group-btn">
            <button class="btn btn-default filter-value-save" <%= datastring %>><i class="fa fa-fw fa-save"></i></button>
        </span>
    </div>
</div>

{% endspaceless %}
