{% spaceless %}
<ul>
<% $.each(apps, function(index, app) { %>
    <li data-name="<%- app.name %>" data-display_name="<%- app.display_name.capFirst() %>">
        <span class="text-muted app"><%- app.display_name.toUpperCase() %></span>
        <ul class="nav nav-pills nav-stacked">
        <% $.each(app.models, function(i, model) { %>
            <% var s = model.display_name.capFirst(); %>
            <li data-name="<%- model.name %>" data-display_name="<%- s %>">
                <a href="#!<%- model.url %>" data-type="model"><%- s %></a>
            </li>
        <% }) %>
        </ul>
    </li>
<% }) %>
</ul>
{% endspaceless %}
