{% spaceless %}
<tr>
<% if (object) { %>
    {# Всегда есть одна колонка с отображением объекта #}
    <td data-pk="<%- object.pk %>">
        <% if (has_open_object) { %>
            <a href="#!<%- object.url %>"><%- object.display_name %></a>
        <% } else { %>
            <%- object.display_name %>
        <% } %>
    </td>

    <% $.each(columns, function(i, col) { %>
        <% var val = object.fields[col.name]; %>
        <% var type_val = $.type(val); %>
        {# Внешний ключ #}
        <% if (col.type == 'ForeignKey' || col.type == 'OneToOneField') { %>
            <td>
            <% if (!val) { %>
                <%- '---' %>
            <% } else if (testPermission(col.relation)) { %>
                <a href="<%- makeObjectHash(col.relation, val[0]) %>"><%- val[1] %></a>
            <% } else { %>
                <%- val[1] %>
            <% } %>
            </td>
        {# Список внешних ключей #}
        <% } else if (col.type == 'ManyToManyField') { %>
            <% var L = $.map(val, function(i) {return i[1]}); %>
            <td><div><%- L.join(', ') %></div></td>
        {# JSON объект #}
        <% } else if (type_val === 'object') { %>
            <td><div><%- JSON.stringify(val) %></div></td>
        {# Дата #}
        <% } else if (col.type == 'DateField') { %>
            <td class="no-wrap" title="<%- val || '' %>"><%- val ? moment(val).format('L') : '---' %></td>
        {# Дата и время] #}
        <% } else if (col.type == 'DateTimeField') { %>
            <td class="no-wrap" title="<%- val || '' %>"><%- val ? moment(val).format('L LTS') : '---' %></td>
        {# Булево #}
        <% } else if (col.type == 'BooleanField') { %>
            <td class="no-wrap">
                <i class="fa fa-fw fa-<%- val? 'check-':'' %>square-o"></i>
            </td>
        {# Список выбора #}
        <% } else if ($.isArray(val)) { %>
            <td title="<%- val[0] %>: <%- val[1] %>"><%- val[1] %></td>
        {# Любое числовное значение #}
        <% } else if (type_val === 'number') { %>
            <td class="no-wrap"><%- val %></td>
        {# Прочие #}
        <% } else { %>
            <td><div><%- val %></div></td>
        <% } %>
    <% }); %>
<% } else { %>
    <td>&nbsp;</td>
    <% $.each(columns, function(i, col) { %><td></td><% }); %>
<% } %>
</tr>
{% endspaceless %}
