{% spaceless %}
<li role="presentation">
    <a href="#pane-<%- id %>" aria-controls="pane-<%- id %>" role="tab" data-toggle="tab" data-title="<%- name %>" data-hash="<%- hash %>">
        <button class="close" data-id="<%- id %>" type="button">&times;</button>
        <span class="long"><%- name.truncateWords(15) %></span>
        <span class="short"><%- name.truncateChars(3, true) %></span>
    </a>
</li>
{% endspaceless %}
