{% load i18n %}
<!-- Nav tabs -->
<ul id="content-tabs" class="nav nav-tabs" role="tablist">
    <li id="tab-dashboard" role="presentation" title="{% trans 'Dashboard' %}">
        <a href="#pane-dashboard" data-title="{% trans 'Dashboard' %}" aria-controls="pane-dashboard" role="tab" data-toggle="tab" data-hash="#dashboard">
            <i class="fa fa-th-large fa-lg"></i>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div id="tab-panes" class="tab-content">
    <div role="tabpanel" class="tab-pane" id="pane-dashboard"></div>
</div>
