{% load i18n static jsminify %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% spaceless %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="version" content="{{ DIRECTAPPS_CLIENT }}">
    <title></title>
    <link rel="stylesheet" href="{% static 'font-awesome/4.5.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/animation.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/3.3.7.dac/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'selectize/0.12.4/css/selectize.bootstrap3.css' %}">
    <link rel="stylesheet" href="{% static 'directapps_client/css/structures.css' %}"/>
    <link rel="stylesheet" href="{% static 'directapps_client/css/themes.css' %}"/>
</head>
{% endspaceless %}
{% spaceless %}
<body class="lightyellow">
    <div class="app-title">
        <span> {% if PROJECT_NAME %}{{ PROJECT_NAME }} | {% endif %}{{ user.get_full_name }} </span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar-wrapper" class="col-sm-3 col-md-2">
                {% include 'directapps_client/sidebar.html' %}
            </div>
            <div id="content-wrapper" class="col-sm-9 col-md-10">
                {% include 'directapps_client/content.html' %}
            </div>
        </div>
    </div>
{% endspaceless %}
<!-- JS vars -->
<script type="text/javascript">{% filter jsminify %}
var PROJECT_NAME = "{{ PROJECT_NAME }}",
    SETTINGS_KEY = "u{{ user.id }}_",
    APPS_URL = "{{ APPS_URL }}",
    CUSTOM_TEMPLATES = {{ CUSTOM_TEMPLATES|safe }};
{% endfilter %}
</script>
{% include 'directapps_client/i18n.html' %}
<!-- JS libraries -->
<script src="{% static 'jquery/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'bootstrap/3.3.7.dac/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap3-typeahead.min.js' %}"></script>
<script src="{% static 'django/django-ajax-csrf.min.js' %}"></script>
<script src="{% static 'underscore/1.8.3/underscore-min.js' %}"></script>
<script src="{% static 'moment/2.14.1/moment-with-locales.min.js' %}"></script>
<script src="{% static 'datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'selectize/0.12.4/js/standalone/selectize.min.js' %}"></script>
<script src="{% static 'chartjs/2.7.2/Chart.min.js' %}"></script>
<script src="{% static 'directapps_client/js/extend.js' %}"></script>
<script src="{% static 'directapps_client/js/localstorage.js' %}"></script>
<script src="{% static 'directapps_client/js/utils.js' %}"></script>
<script src="{% static 'directapps_client/js/templates.js' %}"></script>
<script src="{% static 'directapps_client/js/directapps.js' %}"></script>
<script src="{% static 'directapps_client/js/masks.js' %}"></script>
<script src="{% static 'directapps_client/js/menu.js' %}"></script>
<script src="{% static 'directapps_client/js/tabs.js' %}"></script>
<script src="{% static 'directapps_client/js/pagination.js' %}"></script>
<script src="{% static 'directapps_client/js/tables.js' %}"></script>
<script src="{% static 'directapps_client/js/fields.js' %}"></script>
<script src="{% static 'directapps_client/js/filters.js' %}"></script>
<script src="{% static 'directapps_client/js/links.js' %}"></script>
<script src="{% static 'directapps_client/js/handlers.js' %}"></script>
<script src="{% static 'directapps_client/js/client.js' %}"></script>
{% comment %}
<!-- JS features -->
<script type="text/javascript">
{% filter jsminify %}{% include 'directapps_client/app.js' %}{% endfilter %}
</script>
{% endcomment %}
<!-- JS templates -->
{% include 'directapps_client/underscore_templates.html' %}
</body>
</html>
