{% load i18n %}
<div id="sidebar-header" class="row">
    <ul class="nav nav-justified nav-justified-icon">
        <li title="{% trans 'Favorites' %}"><a href="#favorites"><i class="fa fa-star fa-lg text-muted"></i></a></li>
        <li title="{% trans 'History' %}"><a href="#history"><i class="fa fa-history fa-lg text-muted"></i></a></li>
        <li title="{% trans 'Settings' %}"><a href="#settings"><i class="fa fa-cog fa-lg text-muted"></i></a></li>
    </ul>
</div>

<div id="sidebar-menu-filter" class="row">
    <input type="text" class="form-control input-sm" placeholder="{% trans 'Search inside menu' %}"/>
</div>

<div id="sidebar-menu" class="row"></div>

<div id="sidebar-footer" class="row" title="version: {{ DIRECTAPPS_CLIENT }}">
    <div class="col-xs-6">
        <a href="{{ LOGOUT_URL }}">{% trans 'Log out' %}</a>
    </div>
    <div class="col-xs-6">
        <a href="#help">{% trans 'Help' %}</a>
    </div>
</div>
