<script type="text/x-underscore" id="template-menu">
{% include 'directapps_client/underscore/menu.html' %}
</script>
<script type="text/x-underscore" id="template-tab">
{% include 'directapps_client/underscore/tab.html' %}
</script>
<script type="text/x-underscore" id="template-pane">
{% include 'directapps_client/underscore/pane.html' %}
</script>
<script type="text/x-underscore" id="template-row">
{% include 'directapps_client/underscore/row.html' %}
</script>
<script type="text/x-underscore" id="template-filter-values">
{% include 'directapps_client/underscore/filter_values.html' %}
</script>
<script type="text/x-underscore" id="template-filter">
{% include 'directapps_client/underscore/filter.html' %}
</script>
<script type="text/x-underscore" id="template-dashboard">
{% include 'directapps_client/underscore/dashboard.html' %}
</script>
<script type="text/x-underscore" id="template-favorites">
{% include 'directapps_client/underscore/favorites.html' %}
</script>
<script type="text/x-underscore" id="template-history">
{% include 'directapps_client/underscore/history.html' %}
</script>
<script type="text/x-underscore" id="template-settings">
{% include 'directapps_client/underscore/settings.html' %}
</script>
<script type="text/x-underscore" id="template-help">
{% include 'directapps_client/underscore/help.html' %}
</script>
