/*
 * Навигационные кнопки, не требующие вертикального расположения
 * на маленьких экранах. 
 */
.nav-justified-icon>li {
    display: table-cell;
    width: 1%;
}

/*
 * Внешний вид главного меню.
 */
#sidebar-menu>ul>li {
    list-style-type: none;
    margin-left: -30px;
    margin-top: 10px;
}
#sidebar-menu .nav>li>a {
    padding: 5px 10px;
}

/*
 * Сжатие контентных вкладок.
 */
#content-tabs>li:not(:first-child) a {
    padding: 10px 5px;
    border-color: #eee;
    transition: 0.5s;
}
#content-tabs>li.active a,
#content-tabs>li:first-child a,
#content-tabs>li:hover a {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    transition: 0.5s;
}
#content-tabs>li>a>button.close,
#content-tabs>li>a>span.long,
#content-tabs>li.active>a>span.short,
#content-tabs>li:hover>a>span.short {
    display: none;
}
#content-tabs>li.active>a>button.close,
#content-tabs>li:hover>a>button.close {
    display: inline-block;
}
#content-tabs>li.active>a>span.long,
#content-tabs>li:hover>a>span.long {
    display: inline;
}

/*
 * Внешний вид контентных вкладок
 */
#content-tabs a button.close {
    padding-left: 10px;
}

/*
 * Расположение рабочих областей на нормальном экране.
 */
@media (min-width: 768px) {
    #content-wrapper {
        display: block;
        padding: 5px 15px 10px 260px;
        width: 100%;
    }
    #sidebar-wrapper {
        position: fixed;
        width: 250px;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px 20px 0 20px;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    #sidebar-menu-filter {
        padding-top: 5px;
    }
    #sidebar-menu {
        position: fixed;
        width: 245px;
        top: 80px;
        bottom: 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    #sidebar-footer {
        position: fixed;
        width: 250px;
        height: 60px;
        left: 15px;
        bottom: 0px;
        padding: 20px;
        text-align: center;
        border-top: solid 1px #aaa;
    }
    .app-title {
        position: absolute;
        top: 15px;
        width: 100%;
        padding-right: 15px;
        text-align: right;
    }
}

/*
.well, .breadcrumb {
    background-color: #f5f5f5;
}
*/


/* Маленький размер для кнопок и инпутов. */

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /*If Placeholder of the input is moved up, rem/modify this.*/
    border-radius: 3px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

/* Все панели */
.tab-pane {
    padding-top: 10px;
    padding-bottom: 10px
}

/* Панели фильтров, информации и колонок */
.pane-filters,
.pane-info,
.pane-columns {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pane-filters .panel,
.pane-info .panel,
.pane-columns .panel {
    margin-bottom: 10px;
}

.pane-columns .input-group {
    margin-bottom: 5px;
    margin-right: 5px;
}
.pane-filters .panel-body,
.pane-filters .panel-footer,
.pane-info .panel-body,
.pane-info .panel-footer,
.pane-columns .panel-body,
.pane-columns .panel-footer {
    padding: 5px 5px 0px 5px;
    background-color: #f5f5f5;
}

.pane-filters .panel-footer {
    padding: 5px;
}
.pane-filters .form-inline {
    margin-bottom: 5px;
}

.pane-info dl {
    margin-bottom: 5px;
}

.pane-columns .panel-body .width-setter {
    width: 40px;
}

.pane-columns .panel-body div.off button,
.pane-columns .panel-body div.off input {
    background-color: #f5f5f5;
}

/* Остальное. */


th.sorting {
    cursor: pointer;
}
th.sorting .fa-sort {
    color: #eee;
}
th.sorting .fa-sort-desc {
    color: red;
}
th.sorting .fa-sort-asc {
    color: green;
}
.table-wrapper {
    overflow: auto;
}
.table-wrapper td>div,
.table-wrapper th>div {
    height: 20px;
    overflow: hidden;
    word-break: break-all;
}

.breadcrumb, .table, .subnav.row {
    margin-bottom: 10px;
}

.pane-filters .table {
    margin-bottom: 0px;
}
.pane-filters .table th,
.pane-filters .table td {
    padding: 3px;
}
.pane-filters .values button {
    white-space: normal;
}

.da-pagination {
    margin-top: 0px;
}

.da-pagination-stack .loading {
    color: #fff;
}

.no-wrap {
    white-space: nowrap;
}

.close {
    margin-left: 5px;
}
