/*
 * Файл с несколькими темами оформления.
 * 
 */

.app-title {color: #777}

/* Дополнительные цвета */
.bg-red {background-color: red}
.bg-orange {background-color: orange}
.bg-darkgreen {background-color: darkgreen}
.text-red {color: red}
.text-orange {color: orange}
.text-darkmagenta {color: darkmagenta}
.text-darkgreen {color: darkgreen}

/* Бледно-жёлтая тема. */
body.lightyellow #sidebar-wrapper,
body.lightyellow .well,
body.lightyellow .breadcrumb,
body.lightyellow .pane-filters .panel-body,
body.lightyellow .pane-filters .panel-footer,
body.lightyellow .pane-info .panel-body,
body.lightyellow .pane-info .panel-footer,
body.lightyellow .pane-columns .panel-body,
body.lightyellow .pane-columns .panel-footer,
body.lightyellow .pane-columns .panel-body div.off button,
body.lightyellow .pane-columns .panel-body div.off input
{ background-color: #ffffe0; }

/* Бежевая тема. */
body.beige #sidebar-wrapper,
body.beige .well,
body.beige .breadcrumb,
body.beige .pane-filters .panel-body,
body.beige .pane-filters .panel-footer,
body.beige .pane-info .panel-body,
body.beige .pane-info .panel-footer,
body.beige .pane-columns .panel-body,
body.beige .pane-columns .panel-footer,
body.beige .pane-columns .panel-body div.off button,
body.beige .pane-columns .panel-body div.off input
{ background-color: #f5f5dc; }

/* Античнобелая тема. */
body.antiquewhite #sidebar-wrapper,
body.antiquewhite .well,
body.antiquewhite .breadcrumb,
body.antiquewhite .pane-filters .panel-body,
body.antiquewhite .pane-filters .panel-footer,
body.antiquewhite .pane-info .panel-body,
body.antiquewhite .pane-info .panel-footer,
body.antiquewhite .pane-columns .panel-body,
body.antiquewhite .pane-columns .panel-footer,
body.antiquewhite .pane-columns .panel-body div.off button,
body.antiquewhite .pane-columns .panel-body div.off input
{ background-color: #faebd7; }

